html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;

    height: 100%;
}

#canvas-container {
    display: flex;

    justify-content: center;
    align-items: center;

    min-width: 400px;
    min-height: 300px;

    height: 100%;
}

.scrollable {
    align-self: start;
    flex-grow: 1;

    max-height: 85vh;

    width: 100%;

    overflow-x: scroll;
}

.responsive {
    width: 100% !important;
    justify-content: center;
}

#canvas-container:not(.responsive) {
   justify-content: start;
}

#canvas-container:not(.responsive) > canvas {
    max-width: unset;
    padding-inline: 2em;
}

.responsive > canvas {
    max-height: 90vh;
    max-width: 80%;
}

#controls {
    margin-top: 40px;
}

#controls label:has(input[type=checkbox]:checked) + label {
    display: none;
}

/* Mobile */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .responsive > canvas {
        max-width: 90%;
        padding-inline: initial;
    }
}

/* Small Mobile */
@media only screen and (max-width: 480px) {
    .responsive > canvas {
        max-width: 95%;
        padding-inline: initial;
    }
}
